/* General Body Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #FAFAFA;
    background-color: #0E1117;
}

/* Headings */
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.4em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FF4B4B;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.7em;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #4BFFC3;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #A64BFF;
}

/* Text Styles */
p {
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.6;
}

ul {
    text-align: justify;
    list-style-position: outside;
    padding-left: 20px;
    margin-bottom: 1em;
    line-height: 1.6;
}

/* Prediction Box */
.prediction-box {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #1E1E1E;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.prediction-box-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
}

.prediction-box-content {
    text-align: justify;
    color: #CCC;
    flex-grow: 1;
    line-height: 1.6;
}

/* IA Text Span */
.ia-text {
    color: darkgrey;
}
